dj_database_url~=1.0.0
django-cors-headers~=3.13.0
django-debug-toolbar~=3.8.1
django-htmx~=1.13.0
django~=4.2.0
fastkml~=0.12
gunicorn~=21.2.0
httpx~=0.23
psycopg~=3.1.8
pydantic-settings~=2.0.0
pydantic[email]~=2.0.0
urlman~=2.0.1
uvicorn~=0.19
whitenoise~=6.2.0
